/* шрифты */
@font-face {
  font-family: SegoeUI; 
  src: url(../fonts/segoe-ui/SegoeUI.ttf); 
 }
 /* Вращение фоновых элементов при наведении */
.bkg-anim{
  transition: 1s;
}
.bkg-anim:hover{
  transform: rotate(2deg) scale(1.025); 
}
 /*  */
/* Самый верх Header */
.header{
  margin-bottom: 75px;
}
/* фоны */
.background__header-bkg{
  position: absolute;
  z-index: -1;
  top:0px;
  left:0px;
}
.background__header-bkg1{
  position:absolute;
  top:234px;
  left:732px;
}
.background__header-bkg2{
  position: absolute;
  top:50px;
  left:708px;
}
.background__header-bkg3{
  position: absolute;
  top:100px;
  left:1108px;
}
.background__header-bkg4{
  position: absolute;
  top:475px;
  left:1px;
}
.background__header-bkg5{
  position: absolute;
  top:515px;
  left:615px;
}
.background__header-bkg6{
  position: absolute;
  top:435px;
  right: 0;
}
/* Лого, панель навигации и телефон*/
.header__up{
  display: flex;
  justify-content: space-between;
  margin: 30px 75px;
}
.nav{
  display: flex;
  width: 30rem;
  height: 1rem;
  justify-content: space-between;
}
.nav__item{
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Плавный переход */
  transition: 0.25s linear;
  /* Подчёркивание */
  position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.nav__item:hover{
  color:#FF8C00; /*цвет ссылки*/
}
.nav__item:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #FF8C00; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; 
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.nav__item:hover:after,
.nav__item:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.phone{
  display: flex;
  flex-direction: column;
}
.phone__number{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.25s linear;
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.phone__number:hover{
  color:#FF8C00;
}
.phone__number-link{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
/* Текст */
.header__text{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 75px;
}
.header__text>p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-weight: bold;
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.header__text>p:nth-child(1){
  font-size: 100px;
}
.header__text-img{
  position: absolute;
  left: 325px;
  top: 180px;
}
/* Кнопка */
.header__button{
  margin-top: 77px;
  margin-left: 75px;
  width: 15rem;
  height: 3rem;
  color: black;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  background-color: #162223;
}
.header__button-pic{
  margin: auto;
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  border-radius: 50%;
  background-color: #D1D94D;
}
.header__button-pic>img{
  width: 14px;
  height: 14px;
  margin: auto;
}
.header__button>p{
  margin: auto;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-left: 0;
}
/* Ряд кружочков */
.row-circles{
  width: 58rem;
  margin: auto;
  margin-top: 125px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.circle:nth-child(1) {
  opacity: 0;
  animation-fill-mode:forwards;
  animation-duration: 1s;
  animation-delay: 1.5s;
}
.circle:nth-child(2) {
  opacity: 0;
  animation-fill-mode:forwards;
  animation-duration: 1s;
  animation-delay: 3s;
}
.circle:nth-child(3) {
  opacity: 0;
  animation-fill-mode:forwards;
  animation-duration: 1s;
  animation-delay: 4.5s;
}
.circle:nth-child(4) {
  opacity: 0;
  animation-fill-mode:forwards;
  animation-duration: 1s;
  animation-delay: 6s;
}
.circle:nth-child(5) {
  opacity: 0;
  animation-fill-mode:forwards;
  animation-duration: 1s;
  animation-delay: 7.5s;
}
@keyframes fadeInDown{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.circle{
  height: 9rem;
  width: 7.75rem;
  display: flex;
  flex-direction: column;
  animation-name: fadeInDown;
}
/*  */
@keyframes rotation{
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(360deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
/*  */
.circle-flip1 {  
  animation: rotation 15s infinite;
  animation-delay: 8s;
}
.circle-flip2 {
  animation: rotation 15s infinite;
  animation-delay: 11s;
}
.circle-flip3 {
  animation: rotation 15s infinite;
  animation-delay: 14s;
}
.circle-flip4 {
  animation: rotation 15s infinite;
  animation-delay: 17s;
}
.circle-flip5 {
  animation: rotation 15s infinite;
  animation-delay: 20s;
}
.circle>p{
  margin-left: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;
}
.circle>img{
  height: 120px;
  width: 120px;
}

/* Меню/Программы и цитата */
.menu{
  margin-top: 75px;
  margin-bottom: 50px;
  justify-content: center;
}
/* фоны */
.menu__bkg1{
  position: absolute;
  right: 0;
  top: 900px;
}
.menu__bkg2{
  position: absolute;
  right: 0;
  top: 2050px;
}
.menu__bkg3{
  position: absolute;
  left: 0;
  top: 2675px;
}
.menu__bkg4{
  position: absolute;
  left: 100px;
  top: 2915px;
}
/* заголовок */
.menu__header{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
.menu__line{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.menu__string{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.menu__string>div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
}
/* программы меню*/
.menu__programs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  margin: auto;
  margin-bottom: 90px;
  width: 59rem;
}
.program{
  width: 18rem;
  height: 38rem;
  display: flex;
  margin: 18px 14px;
  flex-direction: column;
  
}
.program__name{
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 27px 32px 32px 23px;
}
.program__meals{
  margin-left: 27px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.program__number-of-meals{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 17px;
}
.program__meal-types{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.program__meal-type{
  width: 4.5rem;
  height: 1.25rem;
  display: flex;
  margin-right: 30px;
  align-items: center;
  
}
.program__meal-type>p{
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.program__meal-type>img{
  margin: 8px;
}
.program__menu>ul{
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.program__button{
  margin-top: 32px;
  margin-left: 27px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  width: 12rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: 2px solid red;
  text-align: center;
}
/* цитата */
.menu__quote-main{
  margin-left: 156px;
  width: 35rem;
}
.menu__vector{
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.author{
  display: flex;
  margin-left: 196px;
  justify-content: space-between;
  width: 25rem;
}
.author__about{
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: space-around;
}
.author__name{
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.author__status{
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Блок инсты и фоток */
.inst{
  margin-bottom: 100px;
}
/* заголовок в блоке инсты */
.inst__header{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
.inst__line{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.inst__string{
  display: flex;
  justify-content: space-between;
  width: 28.5rem;
  height: 1rem;
  margin: auto;
  align-items: center;
}
.inst__url>a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 12pt;
}
.inst__tags{
  display: flex;
  justify-content: space-between;
}
.inst__tag{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
}
/* фото в блоке инсты */
.inst__foto{
  justify-content: center;
  display: flex;
  width: 59rem;
  height: 30rem;
  flex-wrap: wrap;
  margin: 40px auto;
}
.inst__img{
  margin: 5px;
}
/*  фоны  в блоке инсты*/
.inst__bkg-top{
  /* position: absolute;   */
  display: flex;
  flex-direction: row;
  width: 1035px;
  height: 102px;
  margin-left: 300px;
  justify-content: space-between;
}
.inst__bkg1{
  margin-top: 40px;
}
.inst__bkg2{
  margin-top: 85px;
}
.inst__bkg3{
  position: absolute;
}
.inst__bkg4{
  position: absolute;
  margin-left: 275px;
  z-index: 1;
}
/* Форма отправки данных */
.form{
  left: 0;
  width: 100%; 
  height: 42rem;
  background-color: #282828;
}
/* фоны */
.form__bkg1{
  position: absolute;
  top: 4275px;
}
.form__bkg2{
  position: absolute;
  top: 4575px;
}
.form__bkg3{
  position: absolute;
  top: 4900px;
  right: 0;
}
/* Заголовок и лого */
.form__head{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form__logo{
  margin-top: 72px;
}
.form__header{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: #ffffff;
}
/* Сама форма */
.form__block{
  width: 46rem;
  height: 27rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Левая часть формы */
.left-part{
  display: flex;
  flex-direction: column;
  width: 21.5rem;
}
.left-part__name{
  height: 2rem;
  margin-top: 0;
  margin-bottom: 60px;
  background-color: #282828;
  border: 0;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}
.left-part__email{
  height: 2rem;
  margin-top: 0;
  margin-bottom: 60px;
  background-color: #282828;
  border: 0;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}
.left-part__time-selection{
  height: 2rem;
  margin-top: 0;
  margin-bottom: 50px;
  background-color: #282828;
  color: #757575;
  border: 2px solid #282828;
  border-bottom: 2px solid #ffffff;
}
/* Радио кнопка  */
.radio-button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}
.left-part__radio {
	margin-bottom: 10px;
}
.left-part__radio input[type=radio] {
	display: none;
}
.left-part__radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 1rem;
	user-select: none;
  font-size: 14px;
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.left-part__radio label:before {
	content: "";
	display: inline-block;
	width: 21px;
	height: 21px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(../img/radiobutton/off.svg) 0 0 no-repeat;
}
/* Checked */
.left-part__radio input[type=radio]:checked + label:before {
	background: url(../img/radiobutton/on.svg) 0 0 no-repeat;
}
/*  */
/* чекбокс*/
.checkbox-label {
	display: block;
	margin: 0 0 60px 0;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.checkbox-label input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.checkbox-label span {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 35px; 
	line-height: 22px;  
  font-size: 14px;  
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.checkbox-label span:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	transition: background 0.3s ease;
	background: url(../img/checkbox/off.svg) 0 0 no-repeat;
}
/* Checked */
.checkbox-label input[type=checkbox]:checked + span:before {
	background-image: url(../img/checkbox/on.svg);
}
/*  */
.left-part__submit-button>button{
  width: 10rem;
  height: 2.5rem;
  border: 3px solid #ffffff;
  color: #ffffff;
  border-radius: 1.25rem;
  background-color: #282828;
}
/* Правая часть формы */
.right-part{
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  width: 21.5rem;
}
.right-part__family{
  height: 2rem;
  margin-top: 0;
  margin-bottom: 60px;
  background-color: #282828;
  border: 0;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}
.right-part__tel{
  height: 2rem;
  margin-bottom: 60px;
  background-color: #282828;
  border: 0;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}
.right-part__comment{
  height: 7.5rem;
  background-color: #282828;
  border: 0;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

/* Самый низ footer */
footer{
  position: absolute;
  left: 0;
  width: 100%; 
  height: 12.25rem;
  display: flex;
  background-color: black;
  flex-direction: column;
}
/* То что повыше */
.footer__up{
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 58.5rem;
}
.footer__logo{
  margin: auto;
  margin-left: 0;
}
.footer__middle{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.footer__address{
  color: #ffffff;
  justify-content: space-between;
  margin: 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.footer__phone-number{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 0;
}
.footer__mail{
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer__pic{
  margin: auto;
  margin-right: 0;
  width: 10rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
}
/* То что пониже */
.footer__down{
  width: 58.5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer__down>div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

@media (max-width: 768px){
  html{
    max-width: 768px;
  }
  /* верх */
  .bkg-anim{
    /* display: none; */
    visibility: hidden;
  }

  .header__up{
    height: fit-content;
    flex-direction: column; 
    justify-content: space-between; 
    width:fit-content;
    justify-self: center;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .nav{
    margin: 20px 0;
    flex-direction: column;
    width:fit-content;
    height: fit-content;
    align-items: center;
  }
  .nav>a{
    margin: 5px 0;
    width:fit-content;
  }
  .phone{
    width:fit-content;
    align-self: center;
    align-items: center;
  }
  .logo{
    width:fit-content;
    align-self: center;
  }
  .header__text{
    margin-top: 10px;
    left: 0;
  }
  .header__text>p:nth-child(1){
    font-size: 75px;
  }
  .header__text-img{
    top: 380px;
    left: 250px;
  }
  .header__button{
    margin-top: 15px;
  }
  /* кружочки */
  .row-circles{
    /* justify-self: center; */
    /* align-self: center; */
    margin-top: 1rem;
    width: 30rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .circle{
    margin: 10px 20px;
  }
  /* меню программы */
  .menu__backgrounds{
    display: none;
  }
  .menu__programs{
    width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: auto; */
  }
  .menu__bkg4{
    top: 5565px;
  }
  .menu__quote-main{
    width: 30rem;
  }
  .menu__vector>img{
    width: 32.5rem;
  }
  
  /* инст */
  .inst__foto{
    width: fit-content;
    height: fit-content;
  }
  .inst__head{
    margin-top: -100px;
  }
  /* форма */
  .form{  
    height: 62rem;
  }
  .form__block{
    flex-direction: column-reverse; 
    height: fit-content;
    align-items: center;
    width: fit-content;
  }
  .right-part{
    margin: 0;
    margin-bottom: 65px;
  }

  /* футер */
  .footer__up{
    flex-direction: column; 
    width:fit-content;
  }
  .footer__logo{
    align-self: center;
    margin: 0;
  }
  .footer__middle, .footer__middle>a,.footer__middle>p{
    align-self: center;
  }

  .footer__pic{
    align-self: center;
    margin: 10px 0;
    /* margin-top: 15px; */
  }
  .footer__down{
    flex-direction: column; 
    width:fit-content;
  }
  .footer__company, .footer__developer{
    align-self: center;
    margin: 5px 0;
  }
}
@media (max-width: 510px){
  html{
    max-width: 768px;
  }
  /* верх */
  .bkg-anim{
    /* display: none; */
    visibility: hidden;
  }

  .header__up{
    height: fit-content;
    flex-direction: column; 
    justify-content: space-between; 
    width:fit-content;
    justify-self: center;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .nav{
    margin: 20px 0;
    flex-direction: column;
    width:fit-content;
    height: fit-content;
    align-items: center;
  }
  .nav>a{
    margin: 5px 0;
    width:fit-content;
  }
  .phone{
    width:fit-content;
    align-self: center;
    align-items: center;
  }
  .logo{
    width:fit-content;
    align-self: center;
  }
  .header__text{
    margin-top: 10px;
    left: 0;
  }
  .header__text>p:nth-child(1){
    font-size: 75px;
  }
  .header__text-img{
    top: 380px;
    left: 250px;
  }
  .header__button{
    margin-top: 15px;
  }
  /* кружочки */
  .row-circles{
    justify-self: center;
    margin-top: 1rem;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
  }
  .circle{
    margin: 10px 20px;
  }
  /* меню программы */
  .menu__backgrounds{
    display: none;
  }
  .menu__programs{
    width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: auto; */
  }
  .menu__bkg4{
    top: 5785px;
  }
  .menu__quote-main{
    width: 17rem;
  }
  .menu__vector>img{
    width: 17rem;
  }
  .author{
    margin-left: 5rem;
  }
  .author__status{
    width: 12rem;
  }
  .inst__string{
    flex-direction: column; 
    width:fit-content;
  }
  
  /* инст */
  .inst__foto{
    width: fit-content;
    height: fit-content;
  }
  .inst__head{
    margin-top: -100px;
  }
  /* форма */
  .form{  
    height: 62rem;
  }
  .form__block{
    flex-direction: column-reverse; 
    height: fit-content;
    align-items: center;
    width: fit-content;
  }
  .right-part{
    margin: 0;
    margin-bottom: 65px;
  }

  /* футер */
  .footer__up{
    flex-direction: column; 
    width:fit-content;
  }
  .footer__logo{
    align-self: center;
    margin: 0;
  }
  .footer__middle, .footer__middle>a,.footer__middle>p{
    align-self: center;
  }

  .footer__pic{
    align-self: center;
    margin: 10px 0;
    /* margin-top: 15px; */
  }
  .footer__down{
    flex-direction: column; 
    width:fit-content;
  }
  .footer__company, .footer__developer{
    align-self: center;
    margin: 5px 0;
  }
}