a{
  text-decoration: none;
  color: black;
}

.top{
  text-align: center;
  width: 513px;
  height: 101px; 
  margin: auto;
  font-family: sans-serif;
} 
.header{
  text-align: center;
  margin: auto;
  width: 183px;
  height: 35px;
} 
.line{
  text-align: center;
  margin-bottom: 15px;
}   
.string{
  display: inline;
  text-align: center;
  margin: auto;
  height: 21px;
}
.string:after{
  content: "";
  display: block;
  clear: both;
}
.url{
  font-size: 10pt;
  display: inline;
  width: 124px;
  float: left;
}
.tags{
  float: right;
  font-size: 10pt;
  display: inline;
}
.tag{
  text-align: center;
  margin: auto;
  width: 368px;
}
.pictures{
  text-align: center;
  width: 1187px;
  height: 578px;
  margin: 20px auto;
} 
.pic{
   margin: 5px;
}
.bkg4{
  position: relative;
  width: 120px;
  height: 120px;
  float: left;
  margin-left: 375px;
}
.bkg3{
  position: relative;
  width: 33px;
  height: 24px;
  float: left;
}
.bkg2{
  position: relative;
  width: 202px;
  height: 98px;
  float: right;
}
.bkg1{
  position: relative;
  width: 87px;
  height: 87px;
  float: left;
}