.body{
  max-width: 100%;
  min-width: 320px;
}
.header{
  background-color:lightgreen;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-top: 2.5rem;
  min-height: 2rem;
}
.main{
  /* display: flex; */
  /* justify-content:space-between; */
  /* max-width: 100%;   */
  border: 1px solid black;
  
}
.sidebar-left{
  background-color: cornflowerblue;
  border: 1px solid black;
  text-align: center;
  min-width: 10rem;
  min-height: 2rem;
}
.content{
  border: 1px solid black;
  text-align: center;
  min-width: 10rem;
  min-height: 2rem;
}
.sidebar-right{
  background-color:mediumpurple;
  border: 1px solid black;
  text-align: center;
  min-width: 10rem;
  min-height: 2rem;
}
.footer{
  background-color: coral;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 2.5rem;
  min-height: 2rem;
}

/* @media (max-width: 768px){
  .main{
    
  }
} */
@media (max-width: 576px){
  .sidebar-left{
    min-width: 275px;
  }
  .content{
    min-width: 275px;
  }
  .sidebar-right{
    min-width: 275px;
  }
}